.Rproj.user
*.tex
analysis/paper/001-paper-main_files
analysis/paper/001-reply-main_files
analysis/paper/002-reply-main_files
analysis/paper/008-paper-supplementary_files
analysis/discussion
analysis/coverletter
analysis/peer_review_manuscript_1/1/*.html
renv
*cache*
*.pdf
*.aux
*.bbl
*.blg
*.log
*.synctex.gz
*.tex.bak
*.toc
*.knit.md
*.utf8.md
hkl-mirs.Rproj
*.Rhistory
\.config
\.local
\.gitconfig
\.bash_history
\.rstudio
hklmirs\.Rproj
